<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<table class="table">
    <tbody>
        <tr th:each="p: ${persons}">
            <td th:text="${p.firstname}">test</td>
            <td th:text="${p.lastname}">test</td>
            <td th:text="${#dates.format(p.birthday, 'yyyy-MM-dd').toString()}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>