<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.bashfan.domain.User" />
        <typeAlias alias="Post" type="com.bashfan.domain.Post" />
        <typeAlias type="com.bashfan.domain.Group" alias="Group"/>
        <typeAlias type="com.bashfan.domain.UserGroup" alias="UserGroup"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306?useSSL=false&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/bashfan/domain/User.xml"/>
        <mapper resource="com/bashfan/domain/Post.xml"/>
        <mapper resource="com/bashfan/domain/Group.xml"/>
        <mapper resource="com/bashfan/domain/UserGroup.xml"/>
    </mappers>
</configuration>